*{
    margin: 0;
    overflow-x: hidden;
}
.contact{
    background-color: #000A1F;
    color: #ffffff;
}
.contact-content{
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.contact-content .contact-header{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.contact-content .contact-header h1{
    font-size: 30px;
    overflow: hidden;
}
.contact-content .contact-header p{
    font-size: 20px;
    overflow: hidden;
}
.contact-content .contact-form{
    width: 50%;
    height: 70%;
    background-color: #ffffff;
    color: #000000;
    border-radius: 7px;
}
.contact-content .contact-form form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.contact-content .contact-form form .form-data{
    width: 83%;
    height: 17%;
    display: flex;
    justify-content: space-around;
}
.contact-content .contact-form form .form-data .form-data-input{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
input, select{
    width: 80%;
    height: 60%;
    border-radius: 5px;
    border: 1px solid #000000;
}
.contact-button{
    background-color: #228B22;
    border: none;
    color: #ffffff;
    width: 15vw;
    height: 8vh;
    border-radius: 10px;
}
.form-data-msg{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 120px;
}
textarea{
    width: 75%;
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 5px;
    border: 1px solid #000000;
}
.form-data-btn {
    width: 100%;
    height: 17%;
    margin-left: 120px;
}